@(title: String)(content: Html)

<!DOCTYPE html>

<html ng-app>
    <head>
        <title>Cruise Smart Harvester Dashboard</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
        <script src="@routes.Assets.at("javascripts/controller.js")"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div>
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width : 45 %">
                        <span class="sr-only">45% Complete</span>
                    </div>
                </div>
                <div ng-controller="HarvestingStatus">
                    <p>Total {{harvestingStatus.total}}</p>
                    <p>Here goes the success {{harvestingStatus.success}}</p>
                    <p>And here the failure {{harvestingStatus.failure}}</p>
                    <button ng-click="loadData()">Refresh</button>
                </div>
            </div>
        </div>
    </body>
</html>
